## Build folders
[Db]in/
[Oo]bj/

## IDE and user settings
.idea/
*.user
*.suo
*.tmp
.vs/
*.userosscache
*.sln.docstates

## OS artifacts
.DS_Store
Thumbs.db

## Test & temporary folders
temp_test_cbz/
comicinfo/
