[Desktop Entry]
Type=Application
Name=InkTag Desktop
Comment=Comic Metadata Editor and Tagging Tool
Exec=InkTag.Gui
Icon=inktag
Categories=Graphics;Utility;
Terminal=false
